.responsive-card-outer-box {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-style: solid;
    opacity: 100%;
}

.responsive-card-front-text {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}