.body-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive-card-container {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.call-to-action-button-container {
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action-button {
    padding-top: 10px;
    padding-bottom: 10px;
}
