<header>
    <app-header></app-header>
</header>
<div class="body-container">
    <div class="title-container">
        <h1 id="catchphrase-title">Nearsightedness is Reversible!</h1>
        <h2 id="catchphrase-subtitle">For 99% of people. Are you part of the 99%?</h2>
    </div>
    <div class="responsive-card-container">
        <app-responsive-card class="responsive-card"
            frontText="Why am I nearsighted? Can I reverse it?"
            backText="It's caused by lenses and a close-up lifestyle! With some careful determination, you can reverse it."></app-responsive-card>
        <app-responsive-card class="responsive-card"
            frontText="Is it easy to reverse my nearsightedness?"
            backText="With good habits and a plan, it's possible! 1000s of others have done it."></app-responsive-card>
        <app-responsive-card class="responsive-card"
            frontText="How much does it cost to reverse my nearsightedness?"
            backText="It's (mostly) free! All you need to buy are a few pairs of glasses."></app-responsive-card>
    </div>
    <div class="call-to-action-button-container">
        <app-call-to-action-button class="call-to-action-button"
            text="Join the Discord!"></app-call-to-action-button>
        <app-call-to-action-button class="call-to-action-button"
            text="Read these studies!"></app-call-to-action-button>
        <app-call-to-action-button class="call-to-action-button"
            text="Check out these video guides!"></app-call-to-action-button>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>
